<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Pvahh0ipVv9mZcHilpv7CXLi"></script> -->
<div id="part-contact-map">
   <div id="bmap" class="img-thumbnail"></div>
</div>
