<div id="root-contact">
   <section id="contact-map">
      {{part-contact-map location=location}}
   </section>
   <section>
      <!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/6BZRD"></iframe> -->
      <div class="col-md-8" id="contact">
         <h4 class="underlined">公司地址</h4>
         <div class="col-md-4">
            <img class="full" src="/images/contact-us.png">
         </div>
         <div class="col-md-4">
            <h6>天津市金凯达成消防设备有限公司</h6>
            <small>红桥区芥园道明华里1号楼3门102号底商</small>
            <div><small>
               <i class="fa fa-location-arrow"></i>
               <a href="http://map.baidu.com/?latlng=39.150482,117.162323&title=%E5%A4%A9%E6%B4%A5%E5%B8%82%E9%87%91%E5%87%AF%E8%BE%BE%E6%88%90%E6%B6%88%E9%98%B2%E8%AE%BE%E5%A4%87%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8&content=%E5%9C%B0%E5%9D%80%EF%BC%9A%E5%A4%A9%E6%B4%A5%E5%B8%82%E7%BA%A2%E6%A1%A5%E5%8C%BA%E8%8A%A5%E5%9B%AD%E9%81%93%E6%98%8E%E5%8D%8E%E9%87%8C1%E5%8F%B7%E6%A5%BC3%E9%97%A8102%E5%8F%B7%E5%BA%95%E5%95%86" target="_blank">
                  百度地图
               </a>
            </small></div>
            <!-- <img src="images/certificate.jpg"> -->
         </div>
         <div class="col-md-4">
            <div><strong>联系人:</strong> 李经理</div>
            <div><strong>电话:</strong> 13821777119</div>
            <div><strong>邮箱:</strong>
               <a href="mailto:13802123455@163.com">13802123455@163.com</a>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <h4 class="underlined">资质认证</h4>
         <a href="/images/certificate.jpg" target="_blank">
            <img class="full" src="/images/certificate.jpg">
         </a>
      </div>
      <div class="clearfix"></div>
   </section>
</div>