<div id="product">
   <div id="head">
      <img class="full" src="/images/home-3.jpg">
   </div>
   <section>
      <table class="table">
         <thead class="thead-default">
            <tr>
               <th># 灭火器</th>
               <th>名称</th>
               <th>规格</th>
               <th>销售价</th>
               <th>维修价</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>ABC干粉灭火器</td>
               <td>1kg</td>
               <td>1元</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>ABC干粉灭火器</td>
               <td>5kg</td>
               <td>1元</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>二氧化碳灭火器</td>
               <td>1kg</td>
               <td>1元</td>
               <td>1元</td>
            </tr>
         </tbody>
      </table>
   </section>
   <section>
      <table class="table">
         <thead class="thead-default">
            <tr>
               <th># 报警器</th>
               <th>名称</th>
               <th>型号</th>
               <th>价格</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>Larry</td>
               <td>the Bird</td>
               <td>1元</td>
            </tr>
         </tbody>
      </table>
   </section>
   <section>
      <table class="table">
         <thead class="thead-default">
            <tr>
               <th># 疏散标志</th>
               <th>名称</th>
               <th>型号</th>
               <th>价格</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>1元</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>Larry</td>
               <td>the Bird</td>
               <td>1元</td>
            </tr>
         </tbody>
      </table>
   </section>
   <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
